<html>

<head>

</head>
<body>


<table>
    <tr>
        <td>
            <form action="">
                <input type="text" id="login" placeholder="login" value="login"><br>
                <input type="text" id="socket-host" value="http://localhost:3000"><br>
                <input type="button" id="login-as-client" value="login as client">
                <input type="button" id="login-as-operator" value="login as operator">
            </form>
        </td>
        <td>
            <form action="">
                <input type="text" id="event" placeholder="event" value="message"><br>
                <textarea type="text" id="data" placeholder="data" cols="80" rows="20">
{
    "content": "hello world"
}</textarea><br>
                <input type="button" id="emit" value="emit">
            </form>
        </td>
    </tr>
</table>





<code id="code">

</code>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>

    let socket = null;

    const createEventHandler = (event) => {
        return (payload) => {
            console.log(event.toUpperCase(), ':', payload);
            if (payload) {
                document.querySelector('#code').innerHTML+= `<pre>${JSON.stringify(payload)}</pre>`;
            }
        };
    };

    const bootstrapSocket = (socket) => {
        socket.on('connect', createEventHandler('connect'));
        socket.on('exception', createEventHandler('exception'));
        socket.on('message', createEventHandler('message'));
    };

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector('#login-as-client').addEventListener('click', (e) => {
            e.preventDefault();

            if (socket) {
                socket.disconnect();
            }

            socket = io.connect(document.querySelector('#socket-host').value, {
                query: {
                    username: document.querySelector('#login').value,
                    id: 18,
                },
                upgrade: true,
            });

            bootstrapSocket(socket);


        });

        document.querySelector('#emit').addEventListener('click', (e) => {
            e.preventDefault();

            console.log(213123213);

            socket.emit(
                document.querySelector('#event').value,
                JSON.parse(document.querySelector('#data').value)
            );
        })

    });
</script>
</body>
</html>