<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>App</title>
</head>
<body>

<input type="text">
<button>click</button>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
    socket = io.connect('http://localhost:3000', {
        query: {
            username: 'ivan',
            id : 18
        },
        upgrade: true,
    });

    socket.on('connect', (...args) => {
        console.log('Connected: ', args);
    });

    socket.on('message', (data) => {
        console.log('Message:', data);
    });

    socket.on('onlineClients', (data) => {
        console.log('Online: ', data);
    });

    socket.on('exception', (data) => {
        console.log('Exception:', data);
    });

    document.querySelector('button').addEventListener('click', (e) => {
        const input = document.querySelector('input');

        socket.emit('message', {
            content: String(input.value),
            room: String(socket.id)
        });

        socket.emit('onlineClients');

        input.value = '';
    })
</script>
</html>